.home{
    background-color:aqua;
    height:90vh;
    width:100vw;
}
.image{
    height:90vh;
    width:100%;
    margin:auto;
    position:relative;
    overflow:hidden;
}
.image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    
}

.leftButton{
    position:absolute;
    top:49%;
    left:20px;
}
/* .leftButton button{
    border:none;
    height:24px;
    width:30px;
    opacity:0.8;
} */

.rightButton{
    position:absolute;
    right:20px;
    top:49%;
    background-color:none;
    border:none;

}
/* .rightButton button{
    border:none;
    height:24px;
    width:40px;
    opacity:0.8;
} */
